* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
body {
   min-height: 100vh;
   background-color: rgb(10, 10, 10);
   color: rgb(240, 240, 240);
   text-shadow: 2px 2px 2px rgb(15, 15, 15);
   font-family: "Pathway Extreme", sans-serif;
   overflow-x: hidden;
}

hr {
   width: 100%;
}

header {
   position: sticky;
   top: 0;
   z-index: 10;
}
nav {
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: space-between;
   background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
   backdrop-filter: blur(2px);
   padding: 0.5rem 5rem;
}

nav a img {
   width: 4rem;
   height: auto;
}

.nav-planet {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   color: rgb(240, 240, 240);
   text-decoration: none;
   transition: transform 0.3s ease;
}
.nav-planet span {
   padding: 0 0.5rem;
   border-radius: 8px;
}

.nav-planet:hover {
   transform: scale(1.2) translateY(0.5rem);
   transition: 0.2s ease-in-out;
}
.nav-planet:hover span {
   padding: 0 0.5rem;
   background-color: #fffe9e;
   border-radius: 8px;
   color: #101010;
   text-shadow: none;
}

.hero-background {
   background-image: radial-gradient(rgba(15, 15, 15, 0.644), rgba(0, 0, 0, 0)), url(./images/Galaxy\ background-2\ unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   height: 90vh;
}
.hero {
   padding-top: 5rem;
}
.hero h1 {
   display: none;
   font-size: 3rem;
   text-align: center;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

#logo {
   width: 10rem;
   height: auto;
   margin-left: 5rem;
}
.hero h2 {
   padding-left: 5rem;
   font-size: 1.5rem;
   margin: 2rem 0;
}
.hero p {
   padding-left: 5rem;
   display: inline-block;
   width: 45%;
   font-size: 1.2rem;
   margin-bottom: 4rem;
}

#iframe-hint {
   color: #f6f6f6;
   text-shadow: 2px 2px 2px #0f0f0f;
}

.planets {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.planet-section {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   padding: 5rem;
}
.planet-section {
   background-image: radial-gradient(rgba(15, 15, 15, 0.75), rgba(0, 0, 0, 0.75)), url(./images/milky-way-stars-starfield-backgrounds-textures-8a9bbb-1024.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.left-side,
.right-side {
   height: 90%;
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.left-side {
   align-items: flex-start;
   gap: 1rem;
}
.left-side h3 {
   font-size: 3rem;
}
.left-side h4 {
   font-size: 1.5rem;
}
.left-side ul {
   font-size: 1.2rem;
   list-style-position: inside;
   list-style-type: disc;
}
.left-side ul li {
   margin-bottom: 0.5rem;
}
.left-side p {
   font-size: 1.2rem;
   line-height: 1.6;
}
.left-side a {
   background-color: #f6f6f6;
   text-decoration: none;
   border-radius: 1.5rem;
   color: black;
   padding: 0.5rem 1rem;
   text-shadow: none;
   margin-top: auto;
}
.left-side a:hover {
   background-color: #fffe9e;
   color: #0f0f0f;
   transform: scale(1.05);
   transition: 0.2s ease-in-out;
}

.planet-section video {
   width: 100%;
   height: auto;
   border-radius: 1rem;
   box-shadow: 1px 1px 4px #2b2e35;
}

#back-to-top {
   background-color: rgba(0, 0, 0, 0);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   color: #dedede;
   position: absolute;
   bottom: 50px;
   right: 50px;
   text-decoration: none;
}

#back-to-top img {
   width: 2.5rem;
   height: 2.5rem;
}
iframe {
   width: 95vw;
   height: 95vh;
   border-radius: 0.5rem;
   display: block;
   margin: 0 auto;
   box-shadow: 1px 1px 4px #2b2e35;
}
footer {
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 2rem;
}
footer a {
   color: #dedede;
}

/*! animation to show user that the nav is scrollable  */
@keyframes scrollX {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(-0.5rem);
   }

   100% {
      transform: translateX(0);
   }
}
/*@media for mobile devices */
@media (max-width: 768px) {
   nav {
      padding: 0 0.25rem;
      overflow: scroll;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      gap: 1.5rem;
      text-align: center;
      /* animation: scrollX 2s 2; */
   }
   nav a {
      animation: scrollX 1s 2;
   }
   .hero {
      margin-top: 2rem;
      padding: 2rem 0;
   }

   .nav-planet img {
      width: 4rem;
   }
   .nav-planet:hover {
      transform: scale(1) translateY(0rem);
      transition: 0.2s ease-in-out;
   }
   .nav-planet:hover span {
      padding: 0 0.5rem;
      background-color: #fffe9e;
      border-radius: 8px;
      color: #101010;
      text-shadow: none;
      transition: 0.2s ease-in-out;
   }
   #logo {
      padding: 0 1rem;
      margin-left: 0;
   }
   .hero p {
      width: 90%;
      padding: 0 1rem;
      font-size: 1rem;
   }
   .hero h2 {
      padding: 0 1rem;
      margin-left: 0;
      font-size: 1.25rem;
      font-weight: 500;
   }

   .planet-section {
      width: 100vw;
      height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 1rem 1rem;
      gap: 1rem;
   }
   .left-side,
   .right-side {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
   }
   .left-side {
      height: fit-content;
      gap: 0.5rem;
   }
   .left-side h3 {
      font-size: 2rem;
      margin-top: 6rem;
   }
   .left-side h4 {
      font-size: 1.5rem;
   }
   .left-side ul {
      font-size: 1rem;
   }
   .left-side p {
      font-size: 1rem;
   }
   .left-side a {
      margin: 1rem 0;
      font-weight: 500;
   }
   .right-side {
      justify-content: flex-start;
      height: fit-content;
   }
   .right-side video {
      width: 100%;
      height: auto;
   }
   #back-to-top {
      display: none;
   }
   iframe {
      width: 100%;
      height: 75vh;
      margin: 2rem auto;
   }
   footer {
      padding: 1rem 2rem;
      background-color: rgba(0, 0, 0, 0.8);
      color: #dedede;
      text-align: center;
      font-size: 0.75rem;
   }
   footer p {
      width: 100%;
   }
}
